

    /* Style of header */

header{
    /* padding-top: 1rem; */
    height: 80px;
    width: 100%;
    box-shadow: 0px 3px 5px rgb(165, 69, 209);
    /* border: 2px solid rgb(76, 8, 76); */
    border-radius: 6px;
    background-color: white;
    position: fixed;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width:none;
    scroll-behavior: smooth;
    
}
/* 
header::-webkit-scrollbar {
    display: none;
} */

.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
li{
    list-style: none;
    margin-left: 10px;
    padding: 0px 15px 0px;
}
.search{
    border: 2px solid rgba(0,0,0,0.5);
    padding: 6px 30px 6px 30px;
    border-radius: 20px;
    
}
.search input,i{
    border: none;

}
input:focus{
   outline:none;
}
.navContainer li{
    cursor: pointer;
}
a{
    text-decoration: none;
}

#icon img{
    height: 70px;
    width: 70px;
    color: black;

}


    /* Style of main */
    
main{
    padding-top: 90px;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

h1{
    text-align: center;
    line-height: 70px;
   
    
}

.collection img{
    height: 350px;
    width: 300px;
    border-radius:20px ;
    padding: 5px;
    /* margin: 4px 8px 8px 4px; */
}
.men,.women,.kids,.shoes,.summer,.winter{
    justify-content: space-evenly;
    align-items: center;
    /* overflow: hidden; */
    /* position: relative;
    z-index: -1; */


}
.summer img,.winter img{
    
    height: 440px;
    width: 400px;
}

.collection>div>div:hover{
    transition: 0.2s ease-in;
    box-shadow: -2px -3px 10px black;
    
}
.collection>div>div{
    line-height: 18px;
    border: 2px solid black;
    border-radius: 20px;
     margin: 4px 8px 8px 4px;
}



    /* Style footer */

footer{
    margin-top: 50px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    

}
.ftr-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0px;
    line-height: 25px;
    color: rgb(244, 232, 232);
    margin: 0px 40px;
    border-bottom: 2px solid white;
    
}
.ftr-top li{
    padding: 0px 30px;
    
}

.ftr-bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: bisque;
    padding: 40px 20px;
}

.payment span{
    background-color: white;
    color:rgba(0, 0, 0, 0.7) ;
    padding: 2px 3px;
    
}
.verified span{
    color: white;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}
.verified p{
    font-weight: 700;
    line-height: 17px;
}
.card i{
    font-size: 40px;
   
}
.cod i{
 font-size: 30px;
}
.security i{
    font-size: 30px;
}

.security{
    margin-left: 40%;
}





    /* Style for Login form */

.form{
    height: 500px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 25px;
    padding-top: 5%;
    box-shadow: 5px 5px 10px rgb(193, 89, 201);
    
}
#numb{
    border: 2px solid rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: 40px 20px;
    border-radius:20px ;
}
#number{
    border: none;
}
.form h2{
    padding-left: 26%;
    
}
.form button{
    padding: 10px 40px;
    border: 2px solid #0046FF;
    box-shadow: 1px 3px 4px #0046FF;
    border-radius: 30px;

}

.form button,p{
    margin: 10px 30px;
    font-weight: 600;
}

.log{
    color: red;
    text-decoration: underline;
}
.btn:hover{
    background-color: #0046FF;
    color:white;
}
.btn:active{
    transform: scale(0.98);
}


