

    /* Style of header */

header{
    height: 80px;
    width: 100%;
    box-shadow: 0px 3px 5px rgb(165, 69, 209);
    border-radius: 6px;
    background-color: white;
    position: sticky;
    z-index: 100;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width:none;
    scroll-behavior: smooth;
    top: 0;
    left: 0;
    
}
/* 
header::-webkit-scrollbar {
    display: none;
} */

.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
li{
    list-style: none;
    margin-left: 10px;
    padding: 0px 15px 0px;
}
.search{
    border: 2px solid rgba(0,0,0,0.5);
    padding: 6px 30px 6px 30px;
    border-radius: 20px;
    
}
.search input,i{
    border: none;

}
input:focus{
   outline:none;
}
.navContainer li{
    cursor: pointer;
}
a{
    text-decoration: none;
}

#icon img{
    height: 70px;
    width: 70px;
    color: black;
}


    /* Style of main */
    
main{
   
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.slider-images img{
    height: 300px;
    width: 100%;
}

h1{
    text-align: center;
    line-height: 70px;
   
    
}

.collection img{
    height: 250px;
    width: 99%;
    border-radius:10px ;
    padding: 5px;
    /* margin: 4px 8px 8px 4px; */
}
.men,.women,.kids,.shoes,.summer,.winter{
   justify-content: center;
    align-items: center;

}

.summer>div{
    align-items: center;
}

.card:hover{
    transition: 0.2s ease-in;
    box-shadow: -2px -3px 10px rgb(165, 69, 209);
    
}
.card{
    line-height: 18px;
    border: 1px solid rgb(165, 69, 209);
    border-radius: 6px;
     margin: 4px 8px 8px 4px;
     height: 320px;
     width: 220px;
}
.item-rate{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cart-btn{
    height: 40px;
    padding: 7px;
    border: none;
    font-weight: 600;
    border: 1px solid rgb(165, 69, 209);
    color: rgb(165, 69, 209);
    border-radius: 30px;
    margin-right: 10px;
    font-size: 0.8rem;

}
.cart-btn:active{
    transform: scale(0.97);
    background-color: rgb(165, 69, 209);
    color: white;
    transition: 0.1s ease-in;
}


    /* Style footer */

footer{
    margin-top: 50px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    

}
.ftr-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0px;
    line-height: 25px;
    color: rgb(244, 232, 232);
    margin: 0px 40px;
    border-bottom: 2px solid white;
    
}
.ftr-top li{
    padding: 0px 30px;
    
}

.ftr-bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: bisque;
    padding: 40px 20px;
}

.payment span{
    background-color: white;
    color:rgba(0, 0, 0, 0.7) ;
    padding: 2px 3px;
    
}
.verified span{
    color: white;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}
.verified p{
    font-weight: 700;
    line-height: 17px;
}
.master-card i{
    font-size: 40px;
   
}
.cod i{
 font-size: 30px;
}
.security i{
    font-size: 30px;
}

.security{
    margin-left: 40%;
}





    /* Style for Login form */

.form{
    height: 500px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 25px;
    padding-top: 5%;
    box-shadow: 5px 5px 10px rgb(193, 89, 201);
    
}
#numb{
    border: 2px solid rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: 40px 20px;
    border-radius:20px ;
}
#number{
    border: none;
}
.form h2{
    padding-left: 26%;
    
}
.form button{
    padding: 10px 40px;
    border: 2px solid #0046FF;
    box-shadow: 1px 3px 4px #0046FF;
    border-radius: 30px;

}

.form button{
    margin: 10px 15px;
    font-weight: 500;
}

.log{
    color: red;
    text-decoration: underline;
}
.btn:hover{
    background-color: #0046FF;
    color:white;
}
.btn:active{
    transform: scale(0.98);
}



/* Cart Styling */
.cart-container{
    margin-top: 20px;
    /* height: calc(100vh - 200px); */
    position: relative;
    
}

#cart-add-items{
    margin-top: 30px;
    padding: 10px 20px;
    border: 2px solid rgb(165, 69, 209);
    border-radius: 30px;
    font-weight: 600;
    color: rgb(165, 69, 209);
    position: absolute;
    left: 4rem;
    bottom: 1rem;
   

}
#cart-add-items:active{
    transform: scale(0.98);
    background-color: rgb(165, 69, 209);
    color: white;
    transition: 0.1s ease-in;
}
.cart-item-card{
    height: 200px;
    width: 70%;
    border-left: 4px solid rgb(165, 69, 209);
    margin: auto;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(165, 69, 209);
}


.product-image img{
    height: 180px;
    width: 160px;
    margin: 10px;
}
.product-detail{
    margin: 20px;
    line-height: 30px;
    width: 40%;
}
.operations{
    margin: 20px;
    padding-top:100px ;
    width: 30%
    
}
.operations button{
    padding: 8px 16px;
    border: 2px solid rgb(165, 69, 209);
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    color: rgb(165, 69, 209);
    margin: 0px 30px;
   
}
.operations button:active{
    transform: scale(0.98);
    background-color: rgb(165, 69, 209);
    color: white;
    transition: 0.1s ease-in;
}
.cart-payment{
    padding: 10px 20px;
    border: 2px solid rgb(165, 69, 209);
    border-radius: 30px;
    font-weight: 600;
    color: rgb(165, 69, 209);
    position: absolute;
    right: 4rem;
    bottom: 1rem;
}
.cart-payment:active{
    transform: scale(0.98);
    background-color: rgb(165, 69, 209);
    color: white;
    transition: 0.1s ease-in;
}

.total-payment{
      padding: 10px 20px;
    border: 2px solid rgb(165, 69, 209);
    border-radius: 30px;
    font-weight: 600;
    color: rgb(165, 69, 209);
    position: absolute;
    right: 300px;
    bottom: 1rem;
}

.cart-action-btn{
    position: relative;
    margin-top: 8rem;
}