*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body{
    


  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
  /* overflow: scroll; */

}
.inline-block{
    display: inline-block;
}
.flexbox{
    display: flex;
}

li:hover{
    text-decoration: underline;
}
a{
    color: blueviolet;
}

#man,#woman,#home,#signup,#kid{
    text-decoration: none;
    border-bottom: 3px solid blueviolet;
}
